{% extends "layout.html" %}

{% block container %}

<div class="flex items-center justify-center w-full min-h-[70vh]">

    <form method="POST" action="{{ url_for('cursos.inscribir_alumno') }}" class="w-full max-w-md mx-auto">
        {{ csrf_token }}

        <h3 class="text-2xl font-semibold text-center mb-6 text-heading">Inscribir Alumno a Curso</h3>

        <div class="relative z-0 w-full mb-8 group">
            <label for="alumno_id" class="block mb-2 text-sm font-medium text-heading">Selecciona un Alumno</label>
            <select name="alumno_id" id="alumno_id" required
                class="block py-2.5 px-0 w-full text-sm text-heading bg-transparent border-0 border-b-2 border-default-medium appearance-none focus:outline-none focus:ring-0 focus:border-brand peer">
                <option value="" disabled selected>Alumno</option>
                {% for alum in alumnos %}
                    <option value="{{ alum.id }}">{{ alum.nombre }} {{ alum.apellidos }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="relative z-0 w-full mb-8 group">
            <label for="curso_id" class="block mb-2 text-sm font-medium text-heading">Selecciona un Curso</label>
            <select name="curso_id" id="curso_id" required
                class="block py-2.5 px-0 w-full text-sm text-heading bg-transparent border-0 border-b-2 border-default-medium appearance-none focus:outline-none focus:ring-0 focus:border-brand peer">
                <option value="" disabled selected>Elige un curso...</option>
                {% for curso in cursos %}
                    <option value="{{ curso.id }}">{{ curso.nombre }} (Impartido por: {{ curso.maestro.nombre }})</option>
                {% endfor %}
            </select>
        </div>
<br>
        <div class="mt-6 flex gap-4">
            <button type="submit"
                class="text-white bg-brand box-border border border-transparent hover:bg-brand-strong focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none w-full text-center">
                Confirmar Inscripción
            </button>
            <a href="/cursos" 
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none">
                <svg class="w-4 h-4 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                </svg>
                Cancelar
            </a>
        </div>
    </form>

</div>

{% endblock %}